<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TetrisData.Properties.Settings.Tetris_DBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\maximilian\Desktop\Projects\TetrisData\LocalDB\Tetris_DB.mdf;Integrated Security=True; Connect Timeout = 30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>